---
import Root from "../layouts/Root.astro";
import Header from "../components/Header.astro";
import PGP from "../components/PGP.astro";
---
<Root title="Portfolio">
<main class="w-full flex flex-col items-center my-[max(2rem,5vw)] px-8">
  <div class="max-w-[1000px]">
    <Header />
    <PGP />
  </div>
</main>
</Root>
<script>
  
</script>

