---
interface Props {
  type: "link" | "button";
  link?: string;
  target?: string;
  className?: string;
}

const { type, link, target, className } = Astro.props;
---
{ type === "button" &&
<button class:list={["text-zinc-400 hover:text-zinc-500 transition-colors", className ]}>
    <slot />
  </button>
}
{ type === "link" &&
  <a href={link} target={target} class="flex justify-center items-center p-2 bg-zinc-300 rounded-xl text-zinc-800 hover:bg-zinc-400 transition-colors">
    <slot />
  </a>
}

