@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Inter", system-ui, sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #3f3f46;
    scroll-behavior: smooth;
  }

  textarea {
    scrollbar-width: thin;
    scrollbar-color: #3f3f46;
  }

  @font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/inter/regular.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/inter/italic.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/inter/medium.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/inter/medium-italic.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/inter/semi-bold.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/inter/semi-bold-italic.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/inter/bold.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/inter/bold-italic.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/inter/extra-bold.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/inter/extra-bold-italic.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/inter/black.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/inter/black-italic.woff2") format("woff2");
  }
}
   
