---
import "../app.css";
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <link rel="manifest" href="manifest.json" />
    <slot name="head" />
    <link rel="icon" type="image/png" href="favicon.png" />
	</head>
  <body class="bg-zinc-800">
		<slot name="body" />
	</body>
</html>

